# Exploring a Indian Rainfall Dataset

In [ ]:
import pandas as pd
rt = pd.read_csv("rain.csv")

## Describe the statistical format of the columns

In [ ]:
rt.describe()

## To count the data values from each state

In [ ]:
rt["State"].value_counts()

In [ ]:
rt.head()

## Maximum Rainfall value in January

In [ ]:
rt["Jan"].max()

## Minimum Rainfall value in January

In [ ]:
rt["Jan"].min()

## To display data of Andhra Pradesh

In [ ]:
rt[rt["State"]=="Andhra Pradesh"]

## To display the state name when Rainfall in January was greater than 200

In [ ]:
rt["State"][rt["Jan"]>200]

## Average Rainfall in February in all states

In [ ]:
rt["Feb"].mean()

## To display data in which rainfall in January was >100 , in Feb >40 and in March >50

In [ ]:
rt[ (rt["Jan"]>100) & (rt["Feb"]>40) & (rt["Mar"]>50)]

## To display the whole row in which Maximum rainfall occurred in January

In [ ]:
rt[rt["Jan"]==rt.Jan.max()]

# To group data by any specific feature

In [ ]:
g = rt.groupby("State")

In [ ]:
g.head()

## To get the data of the group of the state "Bihar"

In [ ]:
g.get_group("Bihar")