## Creating Pandas Series

In [2]:
import pandas as pd
import numpy as np

Let\`s see how to create Numpy Array

In [3]:
np_array = np.array([1,2.3,1,7.1,8])
np_array

array([1. , 2.3, 1. , 7.1, 8. ])

How Pandas Series are different

In [4]:
ps = pd.Series([1,2.3,1,7.1,8])
ps

0    1.0
1    2.3
2    1.0
3    7.1
4    8.0
dtype: float64

In [5]:
ps.values

array([1. , 2.3, 1. , 7.1, 8. ])

In [6]:
ps.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
ps[3]

7.1

## Series as generalized NumPy Array

In [9]:
ps = pd.Series([1,2.0,3,4],index=['a','b','c','d'])
ps

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [10]:
ps['c']

3.0

## Series as Specialized dictionary

In [12]:
Dict = { 'Ayon' : 'CSE',
         'Arabinda' : 'EEE',
         'Soma' : 'ECE'
       }
s = pd.Series(Dict)       
s

Ayon        CSE
Arabinda    EEE
Soma        ECE
dtype: object

In [15]:
s[0]  # Here Ayon is the index and CSE is the value

'CSE'

In [14]:
s["Ayon"]

'CSE'

## Creating Pandas DataFrame from 2D Numpy Array

In [17]:
df = pd.DataFrame(np.random.rand(3,2),columns=['Apple','Oranges'],index=['a','b','c'])
df.head(4)

      Apple   Oranges
a  0.244921  0.906948
b  0.464468  0.066311
c  0.396162  0.703346

In [18]:
df["Apple"]

a    0.244921
b    0.464468
c    0.396162
Name: Apple, dtype: float64

In [22]:
df["Apple"]["b"]

0.46446781067093423

In [26]:
df[df['Oranges']<0.5]

      Apple   Oranges
b  0.464468  0.066311